.product-tab-list a.active h3{color:#fff;background:#ee3233;}
.product-tab-list a h3{color:#fff;background:#888;padding:8px 20px;border-radius:4px 4px 0 0;margin-bottom:0;font-size:1.3em;}
.slider-area {background: url(../img/hero_bg.jpg) center center no-repeat;background-size:cover;}
.product-tab-list a.active h4{color:#ee3233;}
.form-check-input:checked{background-color:#ee3233;border-color:#ee3233;}
.btn-theme{background-color:#ee3233;}
.header-right-wrap .same-style.cart-wrap button{background-color:#ee3233;border-color:#ee3233;}
.header-right-wrap .same-style.cart-wrap .shopping-cart-content ul li .shopping-cart-delete a, .single-my-account .myaccount-info-wrapper .billing-back-btn .billing-back a i{color:#ee3233;}
.btn-hover a:hover::after, .btn-hover a::after{background-color:#ee3233;}
.btn-hover a:hover{border-color:#ee3233;}
.price-filter #slider-range .ui-slider-range{background-color:#ee3233;}
.price-filter #slider-range .ui-slider-handle{border-color:#ee3233;}
.btn-filter, .product-wrap .product-img .product-action>div{background-color:#ee3233;}
a:hover{color:#ee3233;}
.booked_slot, .selected-tyres, .swal2-styled.swal2-confirm{background-color:#ee3233 !important;}
.your-order-area .Place-order>button, #scrollUp{background-color:#ee3233;}
.btn-theme-select, .btn-theme-select:focus{background-color:#ee3233;border-color:#ee3233;}
.service_bank .service_card .tick li:before{color:#ee3233;}
.vehicle_details-wrap, .login-register-wrapper .login-form-container .login-register-form form .button-box button:hover{background-color:#ee3233;}
.login-register-wrapper .login-register-tab-list a.active h4, .login-register-wrapper .login-form-container .login-register-form form .button-box .login-toggle-btn a:hover{color:#ee3233;}

